a {
    align-items: center;
    background-image: url("../../images/vives.jpg"); ;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    background-size: 16px 16px;

}