ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.checklist li {
    align-items: center;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 20px;
    background-size: 16px 16px;
}

.checklist li {
    background-image: url("../../images/unchecked-checkbox.png");
}

.checklist li.checked {
    background-image: url("../../images/checkbox-checked.png");
}
